{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ book.title }}</h1>
                    <h2>{{ book.author }}</h2>

                    {% if book.imageFile is empty %}
                        <img class="img-responsive book-image" src="{{ book.imageName }}" alt="{{ book.title }}" />
                    {% else %}
                        <img class="img-responsive book-image" src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="{{ book.title }}" />
                    {% endif %}

                    <p>{{ book.summary }}</p>

                    {% set sumratings = 0 %}
                    {% for review in book.reviews %}
                        {% set sumratings = sumratings + review.rating %}
                    {% endfor %}
                    {% if book.reviews|length > 0 %}
                        <b><p>Average Rating: {{  (sumratings / book.reviews|length)|number_format(2, '.', ',') }}</p></b>
                    {% endif %}
                    <div class="well">
                        <h4>Information from Google</h4>



                        <p>Publisher - {{ googlebook.publisher }} </p>
                        <p>Published date - {{ googlebook.publishedDate }} </p>
                        <p>ISBN 10 - {{ googlebook.isbnTen }} </p>
                        <p>ISBN 13 - {{ googlebook.isbnThirteen }} </p>
                        <p>Number of pages - {{ googlebook.pages }} </p>

                        <p><a href="{{ path('api_details', { 'id': googlebook.googleId }) }}"><h4> Link to the google book internal</h4></a></p>
                        <p><a href="https://books.google.co.uk/books?id={{  googlebook.googleId }}"><h4> Link to the google book external</h4></a></p>
                        <h4>Share short link</h4>
                        <h3>{{ googlebook.shortGoogleUrl }}</h3>
                    </div>

                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Reviews</h2>
                    {% for review in book.reviews %}
                        <blockquote>
                            <p><a href="{{ path('review_show', { 'id': review.id }) }}" class="">{{ review.comment }}</a><br/><small>Rating: {{ review.rating }}</small></p>
                            <footer>User: {{ review.user }}</footer>
                        </blockquote>
                    {% endfor %}
                </div>
            </div>
            {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-md-6 well">
                        <h4 class="text-center">Book options</h4>
                        <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-block btn-warning">Edit</a>
                        {% if is_granted('ROLE_MODERATOR') %}
                            {{ form_start(delete_form) }}
                            <input class="btn btn-block btn-danger" type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        {% endif %}
                </div>
                <div class="col-md-6">
                    <a class="btn btn-block btn-info" href="{{ path('book_review', { 'bookId': book.id }) }}">Create a review</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
