{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ book.title }}</h1>
                    <h2>{{ book.author }}</h2>
                    <img class="img-responsive book-image" src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="{{ book.title }}" />
                    <p>{{ book.summary }}</p>

                    {% set sumratings = 0 %}
                    {% for review in book.reviews %}
                        {% set sumratings = sumratings + review.rating %}
                    {% endfor %}
                    {% if book.reviews|length > 0 %}
                        <b><p>Average Rating: {{  (sumratings / book.reviews|length)|number_format(2, '.', ',') }}</p></b>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h2 class="text-center">Reviews</h2>
                    {% for review in book.reviews %}
                        <blockquote>
                            <p><a href="{{ path('review_show', { 'id': review.id }) }}" class="">{{ review.comment }}</a><br/><small>Rating: {{ review.rating }}</small></p>
                            <footer>User: {{ review.user }}</footer>
                        </blockquote>
                    {% endfor %}
                </div>
            </div>
            {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-md-6 well">
                        <h4 class="text-center">Book options</h4>
                        <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-block btn-warning">Edit</a>
                        {{ form_start(delete_form) }}
                        <input class="btn btn-block btn-danger" type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                </div>
                <div class="col-md-6">
                    <a class="btn btn-block btn-info" href="{{ path('book_review', { 'bookId': book.id }) }}">Create a review</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
