{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reviews list</h1>
    <div class="container">
        {% if is_granted('ROLE_USER') %}
            <div class="row">
                <div class="col-md-6 well">
                    <a href="{{ path('review_new') }}" class="btn btn-block btn-success">Add review</a>
                </div>
            </div>
        {% endif %}
        {% for review in reviews %}
            <div class="row">
                <div class="col-md-6 well">
                    <p>{{ review.comment }}</p>
                    <h4>User - {{ review.user.getUsername() }}</h4>
                    <h4>Book - <a href="{{ path('book_show', { 'id': review.book.id }) }}">{{ review.book.title }}</a></h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
